<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio inventore perspiciatis ea porro reprehenderit quae nam magnam vel amet recusandae.</p>
    </div>
</section>