<div class="jumbotron mt-4">
    <h1 class = "display-4">Notes</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aliquid quisquam nihil ullam neque a.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam labore quidem sapiente incidunt excepturi consectetur aut quod, fugit odio ipsam.</p>
    <a href="http://google.com.ar" class = "btn btn-primary">Google</a>
</div>